<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fridgewords</title>
    <link href="/css/app.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <script type="text/javascript" src="/js/{{#if isDev}}vendor{{else}}vendor.min{{/if}}.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>

</html>

