plugin.name=SOACoherence12
plugin.version=12.1.2.0.0
plugin.description=Inspects and captures Coherence cluster and cache server \
configuration that is defined within a WebLogic domain configuration. This \
extension supports the out-of-process deployment topology in which cache \
servers run in their own processes.
ovabsdk.version=3.0.0
product.version.min=11.1.1.2.0
product.version.max=12.1.2.0.0
parent.plugin.name=WLS12
parent.plugin.version=12.1.2.0.0

# The 'plugin.enabled' property is only needed here because 
# plugins shipping with OVAB itself are put into the AB_INSTANCE
# template manually instead of through plugin install commands.
plugin.enabled=true
